<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearthstone Deck API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}"> <!-- Підключення зовнішнього CSS-файлу -->
</head>
<body>
    <div class="container">
        <h1>Welcome to Hearthstone Deck API</h1>
        <p>Explore the amazing world of Hearthstone Deck!</p>
        <a href="/api/get_random" class="button">Get Heroes</a> <!-- Кнопка на новому рядку -->
    </div>
</body>
</html>
